<!DOCTYPE html>
<html>
<head>
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="../static/css/accueil.css">
</head>
<body>
    <div class="tableau-de-bord">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">À Propos</a></li>
            </ul>
        </div>
        <div class="boutons">
            <button>Connexion</button>
            <button>Inscription</button>
        </div>
    </div>
    <section class="section-accueil">
        <section class="section-accueil">
            <img src="../img/img accueil.jpg" alt="Image d'accueil">
            <div style="background: rgba(0, 0, 0, 0.615); width: 100%; height: 100%;" class="superposition-texte">
                <h3>Yasmine A une plateforme de micro-épargne en site web permettant aux utilisateurs de créer un compte ou de <br> se connecter à leur compte existant. 
                <br>  Collectez des informations essentielles pour la création du compte.
                </h3>
                <button class="bouton-commencer">Commencer</button>
            </div>
        </section>
    </section>
    <div class="contenu-accueil">
       <p> Titre de l'image</p>
        <div style="display: flex;" class="contenu-texte">
            <div class="texte-box">
                <p>AZE ERTYUI ERHJ ERU ZEDF dfg rtyuk ZEDF dfg rtyuk ZEDF dfg rtyuk ZEDF dfg rtyuk </p>
            </div>
            <div class="texte-box">
                <p>ERT ERTY vZEDF dfg rtyuk ZEDF dfg rtyuk ERTYU SDFG ZEDF dfg rtyuk ZEDF dfg rtyuk</p>
            </div>
            <div class="texte-box">
                <p>ZEDF dfg ZEDF dfg rtyuk ZEDF dfg rtyuk rtyuk details/details ZEDF dfg rtyuk ZEDF d</p>
            </div>
            <div class="texte-box">
                <p>Texte 4 ZEDF dfg rtyuk ZEDF dfg rtyuk ZEDF dfg rtyuk ZEDF dfg rtyuk ZEDF dfg rtyuk</p>
            </div>
        </div>
    </div>
    <div class='apropos'>
        <img class="img_apropos" src="" alt="">
        <p>exte 4 ZEDF dfg rtyuk ZEDF dfg rtyuk ZEDF dfg rtyuk ZE</p>
        <p>exte 4 ZEDF dfg rtyuk ZEDF dfg rtyuk ZEDF dfg rtyuk ZE</p>
        <p>exte 4 ZEDF dfg rtyuk ZEDF dfg rtyuk ZEDF dfg rtyuk ZE</p>
    </div>
</body>
</html>
